* {
    margin: 0;
    padding: 0;
}

.link {
    color: rgb(200 228 196);
}

header {
    color: rgb(140, 150, 145);
    background-color: rgb(83 90 85);
}

footer {
    margin: 0px;
    padding: 17px;
    color: silver;
    background-color: rgb(83 90 85);
    font-weight: bold;
    position: static;
}

main {
    margin: px;
    padding: px;
    background-color: rgb(93, 100, 95);
}

.table {
    color: rgb(138 140 150);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(155 140 133);
}

h2 {
    color: rgb(155 140 133);
}

h3 {
    color: rgb(200 228 196);
}

.numered-list {
    margin: 15px;
}

.unnumered-list {
    margin: 15px;
}

.img {
    color: rgb(138 140 150);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}